
    



    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
   
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar" data-navbarbg="skin5">

         
            <nav class="navbar top-navbar ">
                <div class="navbar-header" data-logobg="skin5">
                        <div class="navbar-header" data-logobg="skin5">
                                <!-- This is for the sidebar toggle which is visible on mobile only -->
                                <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                    <!-- This is for the sidebar toggle which is visible on mobile only -->

                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                  
                        <!-- Logo icon -->
                        <b class="logo-icon p-l-10">
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <i class="wi wi-sunset"></i>
                            <img src="./assets/images/logo-icon.png" alt="homepage" class="light-logo" />
                           
                        </b>
                        <!--End Logo icon -->
                         <!-- Logo text -->
                        <span class="logo-text">
                             <!-- dark Logo text -->
                          <img src="./assets/images/logo-text.png" alt="homepage" class="light-logo" />
                            
                        </span>
                        <!-- Logo icon -->
                        <!-- <b class="logo-icon"> -->
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <!-- <img src="../../assets/images/logo-text.png" alt="homepage" class="light-logo" /> -->
                            
                        <!-- </b> -->
                        <!--End Logo icon -->
                    </a>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Toggle which is visible on mobile only -->
                    <!-- ============================================================== -->
                 
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <!--aqui es el boton-->
   
                    </ul>
                    <!-- ============================================================== -->
                    <!-- Right side toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-right">
                        <!-- ============================================================== -->
                        <!-- Comment -->
                        <!-- ============================================================== -->
                 
                        <!-- ============================================================== -->
                        <!-- End Comment -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- Messages -->
                        <!-- ============================================================== -->
                    
                        <!-- ============================================================== -->
                        <!-- End Messages -->
                        <!-- ============================================================== -->

                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                  
    
                        
                   
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar d-print-none" data-sidebarbg="skin5">

                <div class="navigation-trigger d-xl-none" ng-click="mostrarMenu()"  ng-class="{'toggled': aside_toggled}" data-sa-action="aside-open" data-sa-target=".sidebar">
                        <i class="fa fa-ellipsis-h-alt"></i>
                </div>
        
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">



                        <div class="user">
                            <div  class="user__info" ng-click="ocultarMenu()" data-toggle="dropdown">
                                <img  alt="user" width="50" class="rounded-circle" ng-show="USER.sexo == 'F'" src=".\assets\images/4.jpg" alt="">
                                <img alt="user" width="50" class="rounded-circle" ng-show="USER.sexo == 'M'" width="50px" src=".\assets\images/2.jpg" alt="">
                               
                                <div class="comment-text active w-100">
                                        <div class="user__name">{{::USER.nombres}} {{::USER.apellidos}}</div>
                                        <div class="user__email">{{::USER.email}}</div>
                               
                                </div>
                            </div>
                                <div class="dropdown-menu dropdown-menu--invert shows">
                                        <a ui-sref="perfil" class="dropdown-item">Ver Perfil</a>
                                        <a class="dropdown-item" >Settings</a>
                                        <a ui-sref="login" class="dropdown-item" >Salir</a>
                                </div>
                
                        </div>

                 
                

                    <ul id="sidebarnav" class="p-t-30">
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" ui-sref="panel.dashboard" aria-expanded="false"><i class="fas fa-clipboard-list"></i><span class="hide-menu">Dashboard</span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" ui-sref="panel.usuarios" aria-expanded="false"><i class="fas fa-address-card"></i><span class="hide-menu">Insertar Usuarios</span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" ui-sref="panel.insertados" aria-expanded="false"><i class="fas fa-address-book"></i><span class="hide-menu">Usuarios</span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" ui-sref="panel.asistencias" aria-expanded="false"><i class="fas fa-calendar-alt"></i><span class="hide-menu">Asistencias</span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" ui-sref="panel.sincronizacion" aria-expanded="false"><i class="fas fa-arrow-circle-up"></i><span class="hide-menu">Sincronizacion</span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" ui-sref="login" aria-expanded="false"><i class="fa fa-sign-out-alt"></i><span class="hide-menu">Salir</span></a></li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>

      <ui-view></ui-view>
           